<form action="#" method="get" accept-charset="utf-8">
  <formset>
    <div class="form-horizontal">
      <input type="text" name="<%= model.modelName %>[title]"
        id="<%= model.modelName %>_title" value="<%= model.get('title') %>" />

      <button type="button" class="btn cancel">Cancel</button>
      <input type="submit" value="Update" class="btn btn-primary" />
    </div>
  </formset>
</form>
