<form action="#" method="get" accept-charset="utf-8">
  <textarea name="<%= model.modelName %>[description]" class="full-width"
    autofocus><%= model.escape('description') %></textarea>

  <div class="pull-right">
    <button type="button" class="btn cancel">Cancel</button>
    <input type="submit" value="Update" class="btn btn-primary" />
  </div>
  <div class="clearfix"></div>
</form>
