<form action="#" method="get" accept-charset="utf-8">
  <input type="text" name="<%= model.modelName %>[title]" class="full-width"
    id="<%= model.modelName %>_title" value="<%= model.get('title') %>"
    autofocus />

  <div class="pull-right">
    <button type="button" class="btn cancel">Cancel</button>
    <input type="submit" value="Update" class="btn btn-primary" />
  </div>
  <div class="clearfix"></div>
</form>
