<ul class="inline topics-list">
  <strong>Topics:</strong>
  <% if (model.get('topics').isEmpty()) { %>
    <li>none</li>
  <% } %>
  <% model.get('topics').each(function(topic) { %>
    <li class="topics-list-item">
      <a class="topic-link" href="#/topics/<%= topic.id %>">
        <%= topic.escape('title') %></a>
      <a href="#" class="remove-topic" data-id="<%= topic.id %>">
        <i class="icon-cancel"></i>
      </a>
    </li>
  <% }); %>
</ul>

<div class="form-inline">
  <input type="text" name="topic[title]" id="topic_title"
    value="" placeholder="Enter Topic" autofocus />

  <button type="done" class="btn btn-primary cancel">Done</button>
</div>
