<form action="#" method="get" accept-charset="utf-8">
  <formset>
  <input type="text" name="question[title]" id="question_title"
    value="<%= question.get('title') %>" />

  <button type="button" class="btn cancel">Cancel</button>
  <input type="submit" value="Update" class="btn-primary" />
  </formset>
</form>

<%= question.escape('title') %>
<a href="#" class="btn-edit" class="edit-title">Edit</a>
