<ul class="inline">
  <strong>Topics:</strong>
  <% if (model.get('topics').isEmpty()) { %>
    <li>none</li>
  <% } %>
  <% model.get('topics').each(function(topic) { %>
    <li class="topic-list-item">
      <a href="#/topics/<%= topic.id %>"><%= topic.escape('title') %></a>
      <a href="#" class="remove-topic" data-id="<%= topic.id %>">&times;</a>
    </li>
  <% }); %>
</ul>

<form action="#" method="get" accept-charset="utf-8">
  <fieldset>

  <input type="text" name="topic[title]" id="topic_title"
    value="" placeholder="Enter Topic" required />

  <input type="submit" value="Add Topic" class="btn add-topic" />
  <button type="done" class="btn-primary cancel">Done</button>

  </fieldset>
</form>
