<ul class="inline">
  <strong>Topics:</strong>
  <% if (model.get('topics').isEmpty()) { %>
    <li>none</li>
  <% } %>
  <% model.get('topics').each(function(topic) { %>
    <li class="topic-list-item">
      <a href="#/topics/<%= topic.id %>">
        <%= topic.escape('title') %>
      </a>
    </li>
  <% }); %>
  <li><a href="#" class="btn-edit" id="edit-topics">Edit</a></li>
</ul>
