<div class="navbar navbar-fixed-top" id="navbar">
  <div class="navbar-inner">
    <div class="container">
      <ul class="nav">
        <li class="active">
          <a class="brand" id="logo" href="#">Inquisit</a>
        </li>
        <li>
          <form class="navbar-search form-search">
            <input type="text" id="search-bar" placeholder="Search">
            <button type="submit" class="btn icon-search"></button>
          </form>
        </li>
      </ul>
      <ul class="nav pull-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <strong>Write</strong>
          </a>
          <ul class="dropdown-menu">
            <li><a tabindex="-1" href="#/questions/new">Add Question</a></li>
            <li><a tabindex="-1" href="#">Answer Questions</a></li>
            <li><a tabindex="-1" href="#/tabs/new">Create Topic</a></li>
          </ul>
        </li>
        <li><a href="#"><strong>Home</strong></a></li>
        <% if user_signed_in? %>
          <%= render :partial => "user_menu" %>
        <% else %>
          <strong><%= link_to "Login", new_user_session_path %></strong>
        <% end %>
      </ul>
    </div>
  </div>
</div>
