<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    <strong><%= current_user.name %></strong>
  </a>
  <ul class="dropdown-menu">
    <li><a tabindex="-1" href="#/users/<%= current_user.id %>">Profile</a></li>
    <li>
      <%= link_to "Logout", destroy_user_session_path, :method => :delete %>
    </li>
  </ul>
</li>
