<h2>Add Question</h2>

<div id="question_topics"></div>

<form action="/questions" method="post"
  accept-charset="utf-8" id="new-question">

  <label for="question_title">Question</label>
  <input type="text" name="question[title]" value="" required
    id="question_title" placeholder="Type Question Here" />

  <label for="question_description">Details</label>
  <textarea name="question[description]" id="question_description"
    placeholder="Optional: Provide more details about your question"
    ></textarea>

  <label for="question_anonymous">
    <input type="checkbox" name="question[anonymous]" value="true"
      id="question_anonymous" />
    Add Anonymously
  </label>

  <input type="submit" value="Add Question" class="btn btn-primary" />

</form>
