/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require_self
 *= require_tree .
 */

// Basic Styles

$base_color: black;
$dark_blue: #19558d;
$blue: #538dc2;
$light_blue: #dfeaf4;

body {
  padding-top: 40px;
  color: lighten($base_color, 20%);
}

hr {
  border-top-color: lighten($base_color, 80%);
}

textarea.textarea {
  width: 97%;
}

#site-messages .accordion-body {
  float: left;
  margin-left: 1em;
}

#site-notice {
  color: lighten($base_color, 20%);
  background-color: inherit;
  border-color: #d4d4d4;
}

#question_title {
  line-height: 20px;
  font-size: 17.5px;
  font-weight: bold;
  color: black;
}
