/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require_self
 *= require_tree .
 */

#site-messages .accordion-body {
  float: left;
  margin-left: 1em;
}

#site-notice {
  color: lighten($base_color, 20%);
  background-color: inherit;
  border-color: #d4d4d4;
}

#logo {
  background-color: #a82400;
  color: white;
  font-family: Papyrus, fantasy;
  font-weight: bold;

  box-shadow: none;
  text-shadow: none;
  padding: 8px 6px 1px;
  margin: 5px 10px;

  &:active {
    background-color: #801b00;
  }
}
